{% extends 'main/base.html' %}

{% block title %}О себе{% endblock %}

{% block body %}

<!-- Одинаковая внешняя обертка с другими страницами -->
<div class="container py-5">
  
  <!-- Центрируем блок с текстом, чтобы он был аккуратным -->
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-9">
      
      <h1 class="fs-4 mb-3 text-center text-md-start">О себе</h1>
      <hr class="w-28 mx-auto ms-md-0 mb-4 text-secondary">
       
      <p class="text-md-start">
        Приветствую вас на моем сайте! Меня зовут Роман! С 2011 года я занимаюсь ремонтом техники. 
        Первым опытом работы был официальный сервисный центр Samsung. В данном сервисном центре я проработал 6 лет, 
        после этого работал в частных сервисных центрах. На данный момент работаю в частном сервисном центре, 
        так же мне возят технику на ремонт с нескольких компаний по ремонту техники. 
        Работая в частных сервисных центрах я видел много схем развода клиентов на деньги и почти в 80% они работают. 
        Концепция развода заключается на основном желании людей сэкономить. Обещают бесплатную диагностику, доставку, 
        высокое качество ремонта, гарантию 10 лет и низкую цену. В итоге людей загоняют в такую схему что в конечном 
        счете они отдают в десятки раз больше денег чем планировали, все благодаря тому что клиента обрабатывает 
        менеджер который специально этому обучен, знает как применять скрипты и обрабатывать отказы. 
        Одна из схем заключается в том что на сайте например указана цена за работу в разы ниже рынка, но после 
        попадания техники в сервисный центр происходит накидывание работ, возможно из того же прайса и таким не хитрым 
        способом цена вырастает с 500р за замену подсветки до 15000р со всеми "работами, запчастями и гарантией 48-72 месяца", 
        любимая фраза "под ключ". Но вы задумайтесь как частная компания по ремонту техники может дать гарантию больше 
        чем завод производитель этой техники, при учете того что завод закладывает срок эксплуатации техники в среднем 5 лет. 
        По понятным причинам я не могу сказать названия таких фирм, но их большинство.
      </p>

      <p class="text-md-start">
        Я не предлагаю вам ничего бесплатного так как считаю любой труд должен оплачиваться, я не дам вам гарантий 10 лет на все, 
        но дам гарантию на свою работу, и самое главное я не прячу свое лицо и общаюсь с вами только я как по телефону так и при встрече. 
        Я вам гарантирую никаких скрытых накруток цены и фразы "Тут неожиданно что-то сломалось еще", все цены на мои работы прописаны 
        в разделе <a href="{% url 'main:price' %}">Цены</a>, а если что-то не указано то обговаривается сразу или в процессе диагностики. 
        К сожалению или к счастью я не выезжаю на дом, по этому доставка/забор техники осуществляется вашими силами. 
        Так же на сайте есть раздел <a href="{% url 'blog:all_articles' %}">Блог</a> в котором можно увидеть технику до и после ремонта 
        с описанием неисправностей и проделаных работ.
      </p>
      
      <p class="text-md-start fw-bold">
        В свою очередь могу сказать следующее: когда кто-то говорит что сделает что-то бесплатно, вас уже пытаются обмануть, 
        так как бесплатный сыр только в мышеловке.
      </p>

    </div>
  </div>
</div>

{% endblock %}